body {
  margin: 0px;
  background-color: #111111;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Source Sans 3", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

a {
  text-decoration: none;
  margin: 0px;
  color: white;
}

h2 {
  margin: 0px;
  color: white;
  font-size: 50px;
  line-height: 1.2;
}

p {
  color: white;
  max-width: 600px;
  font-size: 18px;
}

header {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.contato {
  padding: 8px 32px;
  border-radius: 6px;
  border: 2px solid #f0f8ff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

.linkPage {
  color: #76c2af;
}

.linkPage:hover {
  text-decoration: underline;
}

.contato:hover {
  background-color: #f0f8ff;
  transition: all 0.3s ease-in-out;
  color: black;
}

.identacaoPadrao {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 500px;
  align-items: center;
}

.identacaoPadrao2 {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 500px;
  align-items: center;
  justify-content: center;
  margin-top: 12%;
}

.identacaoPadraoFooter {
  display: flex;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 500px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 5px;
}

.identaH2 {
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
}

#Linkedin:hover {
  text-decoration: underline;
}

.marginIcones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px 3rem;
  font-size: inherit;
}

.pIcones {
  color: white;
  max-width: 150px;
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.identaIconesSkills {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 500px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-top: 2rem; */
}

/* Animação */
[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="down"] {
  transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
  transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
  transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.imgReconhecimentos {
  max-width: 600px;
  max-height: 500px;
  border-radius: 10px;
}

.descritivoReconhecimento {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px;
}

.tamImgApresentacao {
  width: 400px;
  height: 400px;
}

.imgSobreMim {
  max-width: 100%;
  height: 300px;
  border-radius: 1000px;
}

.tamSvgHabilidades {
  width: 70px;
  height: 70px;
}

@media (width < 800px) {
  * {
    margin-left: 0;
    margin-right: 0;
  }

  p {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 15px;
  }

  h2 {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .contato {
    margin-top: 10px;
    padding: 2px 10px;
    border-radius: 6px;
    border: 1px solid #f0f8ff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
  }

  .identacaoPadrao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    max-height: 500px;
    margin-top: 5%;
    align-items: center;
  }

  .identacaoPadrao2 {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
  }

  .imagemApresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
  }

  .tamImgApresentacao {
    width: 280px;
    height: 280px;
  }

  .imgSobreMim {
    max-width: 100%;
    height: 200px;
    border-radius: 1000px;
  }

  .identaH2 {
    font-size: 20px;
    text-align: center;
  }

  .identaIconesSkills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  .marginIcones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 1.5rem;
  }

  .descritivoReconhecimento {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    gap: 10px;
  }

  .imgReconhecimentos {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
  }

  .identacaoPadraoFooter {
    display: flex;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-bottom: 5px;
  }

  .tamSvgHabilidades {
    width: 50px;
    height: 50px;
  }
}
