body {
  margin: 0px;
  background-color: #111111;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Source Sans 3", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

a {
  text-decoration: none;
  margin: 0px;
  color: white;
}

h2 {
  margin: 0px;
  color: white;
}

p {
  color: white;
  max-width: 600px;
  font-size: 18px;
}

header {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.contato {
  padding: 8px 32px;
  border-radius: 6px;
  border: 2px solid #f0f8ff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

.linkPage {
  color: #76c2af;
}

.linkPage:hover {
  text-decoration: underline;
}

.contato:hover {
  background-color: #f0f8ff;
  transition: all 0.3s ease-in-out;
  color: black;
}

.identacaoPadrao {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 500px;
  align-items: center;
}

.imagemApresentacao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
}

.habilidadesExperiencias {
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
}

#Linkedin:hover {
  text-decoration: underline;
}

.marginIcones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px 3rem;
  font-size: inherit;
}

.pIcones {
  color: white;
  max-width: 150px;
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.identaIconesSkills {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 500px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-top: 2rem; */
}

/* Animação */
[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="down"] {
  transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
  transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
  transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.imgReconhecimentos {
  max-width: 600px;
  max-height: 500px;
  border-radius: 10px;
}

.descritivoReconhecimento {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px;
}
